/*  your css code here. If applicable */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

div {
  border-radius: 50%;
  position: relative;
}
#outer{
	background-color:#ff0000;
	width:300px;
	height:300px;
	display:flex;
	align-items:center;
	justify-content:center;
}
#middle{
	background-color:#ffa500;
	width:250px;
	height:250px;
	display:flex;
	align-items:center;
	justify-content:center;
}
#inner{
	background-color:#ffff00;
	width:200px;
	height:200px;
	display:flex;
	align-items:center;
	justify-content:center;
}
#green{
	background-color:#008000;
	width:150px;
	height:150px;
	display:flex;
	align-items:center;
	justify-content:center;
}
#blue{
	background-color:#0000ff;
	width:100px;
	height:100px;
	display:flex;
	align-items:center;
	justify-content:center;
}
#purple{
	background-color:#800080;
	width:50px;
	height:50px;
	display:flex;
	align-items:center;
	justify-content:center;
}